<div class="offcanvas header-offcanvas open">
    <div class="offcanvas-wrap">
        <div class="offcanvas-user clearfix">
            <a class="offcanvas-user-wishlist-link">
              <i class="fa fa-heart-o"></i> 
              My Wishlist
            </a>
            <a class="offcanvas-user-account-link">
              <i class="fa fa-user"></i> 
              Login
            </a>
        </div>
        <nav class="offcanvas-navbar mobile-offcanvas-navbar">
            <ul class="offcanvas-nav">
                <li class="menu-item-has-children dropdown current-menu-ancestor">
                    <a class="dropdown-hover">Home <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Home v2</a></li>
                        <li><a>Home v3</a></li>
                        <li><a>Home v4</a></li>
                        <li><a>Home v5</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="shop.html" class="dropdown-hover">Shop <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item-has-children dropdown-submenu">
                            <a>Women <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>Maecenas</a></li>
                                <li><a>Nulla</a></li>
                                <li><a>Donec</a></li>
                                <li><a>Aliquam</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown-submenu">
                            <a>Brands <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>Evans</a></li>
                                <li><a>Adesso</a></li>
                                <li><a>Crocs</a></li>
                                <li><a>Carvela</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children dropdown-submenu">
                            <a>Features <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a>Products Style 2</a></li>
                                <li><a>Single Product Style 2</a></li>
                                <li><a>Shop Masonry</a></li>
                                <li><a>My Account</a></li>
                                <li><a>Cart</a></li>
                                <li><a>Empty Cart</a></li>
                                <li><a>Wishlist</a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Mega Menu" href="#">Mega Menu</a>
                        </li>
                    </ul>
                </li>
                <li><a>Collections</a></li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-hover">Blog <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Blog Default</a></li>
                        <li><a>Blog Center</a></li>
                        <li><a>Blog Masonry</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a class="dropdown-hover">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>About us</a></li>
                        <li><a>Contact Us</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>404</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="navbar-toggle-fixed">
            <button type="button" class="navbar-toggle x">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar-top"></span>
              <span class="icon-bar bar-middle"></span>
              <span class="icon-bar bar-bottom"></span>
            </button>
        </div>
        <div class="offcanvas-sidebar-wrap">
            <nav class="offcanvas-navbar offcanvas-sidebar-navbar">
                <ul class="offcanvas-nav">
                    <li class="menu-item-has-children dropdown current-menu-ancestor">
                        <a href="./" class="dropdown-hover">Home <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Home v2</a></li>
                            <li><a>Home v3</a></li>
                            <li><a>Home v4</a></li>
                            <li><a>Home v5</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="shop.html" class="dropdown-hover">Shop <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item-has-children dropdown-submenu">
                                <a href="#">Women <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a>Maecenas</a></li>
                                    <li><a>Nulla</a></li>
                                    <li><a>Donec</a></li>
                                    <li><a>Aliquam</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children dropdown-submenu">
                                <a href="#">Brands <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a>Evans</a></li>
                                    <li><a>Adesso</a></li>
                                    <li><a>Crocs</a></li>
                                    <li><a>Carvela</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children dropdown-submenu">
                                <a href="#">Features <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a>Products Style 2</a></li>
                                    <li><a>Single Product Style 2</a></li>
                                    <li><a>Shop Masonry</a></li>
                                    <li><a>My Account</a></li>
                                    <li><a>Cart</a></li>
                                    <li><a>Empty Cart</a></li>
                                    <li><a>Wishlist</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="Mega Menu" href="#">Mega Menu</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="collection.html">Collections</a></li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-hover">Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Blog Default</a></li>
                            <li><a>Blog Center</a></li>
                            <li><a>Blog Masonry</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-hover">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>About us</a></li>
                            <li><a>Contact Us</a></li>
                            <li><a>FAQ</a></li>
                            <li><a>404</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div id="wrapper" class="wide-wrap">
    <div class="offcanvas-overlay"></div>
    <!-- Application Header Area - Start-->
    <app-header></app-header>
    <!-- Application Header Area - Stop -->

    <div class="content-container">
        <router-outlet></router-outlet>
        <!-- Application Body/Content Area Start-->
    </div>

    <!-- Application Footer Area Start -->
    <app-footer></app-footer>
    <!-- Application Footer Area Stop -->

</div>
